<h1>Hello World!</h1>

<div>
    <label>
        <a href="{{ path("create" ) }}">Add new user</a>
    </label>
</div>
<div>
    <label>
        <a href="{{ path("show" ) }}">Display all users</a>
    </label>
</div>
