{% extends "::base.html.twig" %}

{% block title %}Add Post{% endblock %}

{% block body %}
    <body>

    <div align="center" class="" style="margin-top: 100px"><h1>{{ message ?? "" }}</h1></div>
    <div class="login-form">
        <form action="" method="post" enctype="multipart/form-data">
            <h2 class="text-center">Add post</h2>
            <div class="form-group">
                <input type="text" name="place" class="form-control" placeholder="Place" required="required">
            </div>
            <div class="form-group">
                <input type="file" name="filetoupload" class="form-control" placeholder="Input" required="required">
            </div>
            <div class="form-group">
                <textarea style="width: 100%; height: 300px; resize: none" class="form-control" name="text"  placeholder="Description"></textarea>
             </div>
            <div class="form-group">
                <button type="submit" name="submit" class="btn btn-primary btn-block">Add</button>
            </div>
        </form>
        <p class="text-center"><a href="{{ path("create") }}">Create an Account</a></p>
    </div>

    </body>


{% endblock %}